 
GO
/****** Object:  Database [JAMAIAHSALAFIYAH_HOUSTON]    Script Date: 6/22/2017 2:43:00 AM ******/
CREATE DATABASE [JAMAIAHSALAFIYAH_HOUSTON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JAMAIAHSALAFIYAH_HOUSTON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JAMAIAHSALAFIYAH_HOUSTON.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JAMAIAHSALAFIYAH_HOUSTON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JAMAIAHSALAFIYAH_HOUSTON_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JAMAIAHSALAFIYAH_HOUSTON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JAMAIAHSALAFIYAH_HOUSTON]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyKey] [uniqueidentifier] NOT NULL,
	[CompanyID] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[CompanyPhone] [nvarchar](max) NULL,
	[CompanyMobile] [nvarchar](max) NULL,
	[CompanyEmail] [nvarchar](max) NULL,
	[CompanyWebsite] [nvarchar](max) NULL,
	[CompanyFax] [nvarchar](max) NULL,
	[ContactPersonName] [nvarchar](max) NULL,
	[ContactPersonNo] [nvarchar](max) NULL,
	[Logo] [image] NULL,
	[LogoType] [varchar](max) NULL,
	[IsDelete] [bit] NULL,
	[StateCode] [int] NULL,
	[CityKey] [int] NULL,
	[ZIPKey] [bigint] NULL,
	[Title] [nvarchar](max) NULL,
	[ContactEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyForm]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyForm](
	[CompanyFormKey] [uniqueidentifier] NOT NULL,
	[FormKey] [uniqueidentifier] NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[ModuleKey] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CompanyForm] PRIMARY KEY CLUSTERED 
(
	[CompanyFormKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyModule]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyModule](
	[CompanyModuleID] [uniqueidentifier] NOT NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[ModuleKey] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CompanyModule] PRIMARY KEY CLUSTERED 
(
	[CompanyModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Forms]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FormID] [uniqueidentifier] NOT NULL,
	[ModuleID] [uniqueidentifier] NOT NULL,
	[FormName] [nvarchar](max) NULL,
	[FormLevel] [int] NULL,
	[FormController] [nvarchar](max) NULL,
	[FormView] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageFile]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImageFile](
	[ImageFileKey] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](max) NULL,
	[FileType] [varchar](max) NULL,
	[FileContent] [image] NULL,
 CONSTRAINT [PK_ImageFile] PRIMARY KEY CLUSTERED 
(
	[ImageFileKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleID] [uniqueidentifier] NOT NULL,
	[ModuleName] [nvarchar](max) NULL,
	[ModuleLevel] [int] NULL,
	[NoSub] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffList]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffList](
	[PersonnelKey] [uniqueidentifier] NOT NULL,
	[PID] [nvarchar](max) NULL,
	[PName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Pic] [image] NULL,
	[PicType] [nvarchar](max) NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[Usergr] [uniqueidentifier] NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsUser] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_StaffList] PRIMARY KEY CLUSTERED 
(
	[PersonnelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usergroup]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usergroup](
	[UserGroupKey] [uniqueidentifier] NOT NULL,
	[GroupID] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[CompanyKey] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Usergroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroupForm]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupForm](
	[UserGroupFormKey] [uniqueidentifier] NOT NULL,
	[UserGroupKey] [uniqueidentifier] NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[ModuleKey] [uniqueidentifier] NULL,
	[FormKey] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserGroupForm] PRIMARY KEY CLUSTERED 
(
	[UserGroupFormKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroupModule]    Script Date: 6/22/2017 2:43:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupModule](
	[UserGroupModuleKey] [uniqueidentifier] NOT NULL,
	[UserGroupKey] [uniqueidentifier] NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[ModuleKey] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserGroupModule] PRIMARY KEY CLUSTERED 
(
	[UserGroupModuleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Forms] ([FormID], [ModuleID], [FormName], [FormLevel], [FormController], [FormView], [IsDelete]) VALUES (N'c8523fed-c63d-48eb-ae34-130200c90200', N'875a441b-1d10-4001-beba-968aeae14f48', N'Change Password', 2, N'AssignAccess', N'Index', 0)
GO
INSERT [dbo].[Forms] ([FormID], [ModuleID], [FormName], [FormLevel], [FormController], [FormView], [IsDelete]) VALUES (N'b507eebd-d2cb-4d44-86be-3b801ddff6d5', N'ce9e199b-568d-434d-ba41-5e9a93c5c4e4', N'Add New Staff', 1, N'Staff', N'Index', 0)
GO
INSERT [dbo].[Forms] ([FormID], [ModuleID], [FormName], [FormLevel], [FormController], [FormView], [IsDelete]) VALUES (N'79b4c25f-a624-4950-8d91-4275c2665ee4', N'2447be27-4454-40b6-a732-a251d7a751a8', N'Customer', 1, N'MgtCustomer', N'Index', 0)
GO
SET IDENTITY_INSERT [dbo].[ImageFile] ON 

GO
SET IDENTITY_INSERT [dbo].[ImageFile] OFF
GO
INSERT [dbo].[Modules] ([ModuleID], [ModuleName], [ModuleLevel], [NoSub], [IsDelete]) VALUES (N'ce9e199b-568d-434d-ba41-5e9a93c5c4e4', N'Employee', 6, 0, 0)
GO
INSERT [dbo].[Modules] ([ModuleID], [ModuleName], [ModuleLevel], [NoSub], [IsDelete]) VALUES (N'2ec76f5f-6047-4305-9223-666f2dfe2b2f', N'Settings', 1, 0, 1)
GO
INSERT [dbo].[Modules] ([ModuleID], [ModuleName], [ModuleLevel], [NoSub], [IsDelete]) VALUES (N'875a441b-1d10-4001-beba-968aeae14f48', N'User Mgt', 7, 0, 0)
GO
INSERT [dbo].[StaffList] ([PersonnelKey], [PID], [PName], [Mobile], [Mail], [Designation], [Department], [Pic], [PicType], [CompanyKey], [Usergr], [Username], [Password], [IsUser], [IsDelete]) VALUES (N'2994e9bd-6b78-4a9c-a03d-02b29a6ec9e9', N'Rayhan', N'Emraan Rayhan', N'0000000', N'rayhan.ntiers@gmail.com', N'Support Engineer', N'Support', NULL, NULL, N'906017b5-f9fc-4904-8899-8aece544518c', N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'rayhan', N'1234', 1, 0)
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'df2ac1bb-fffb-4d75-b168-02aefd08185c', N'02', N'Config Manager', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'ed243139-73f2-411e-9df9-251deecdbe92', N'JR', N'Job Request Handlers', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'sa', N'Superadmin', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
INSERT [dbo].[UserGroupForm] ([UserGroupFormKey], [UserGroupKey], [CompanyKey], [ModuleKey], [FormKey]) VALUES (N'e3898dc4-9cb4-4fbd-ac7d-04a77e8c1fbe', N'0eac9d90-f6a7-4f8a-99e8-acf3f87bb589', N'906017b5-f9fc-4904-8899-8aece544518c', N'ce9e199b-568d-434d-ba41-5e9a93c5c4e4', N'b507eebd-d2cb-4d44-86be-3b801ddff6d5')
GO
INSERT [dbo].[UserGroupForm] ([UserGroupFormKey], [UserGroupKey], [CompanyKey], [ModuleKey], [FormKey]) VALUES (N'e7aa1931-c890-4d63-9342-068aff05a42a', N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'906017b5-f9fc-4904-8899-8aece544518c', N'875a441b-1d10-4001-beba-968aeae14f48', N'c8523fed-c63d-48eb-ae34-130200c90200')
GO
INSERT [dbo].[UserGroupForm] ([UserGroupFormKey], [UserGroupKey], [CompanyKey], [ModuleKey], [FormKey]) VALUES (N'e686b4b3-0094-4d54-b2be-0a16c8f4e76d', N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'906017b5-f9fc-4904-8899-8aece544518c', N'875a441b-1d10-4001-beba-968aeae14f48', N'8075c277-879c-4002-94c1-b5a9a72caa71')
GO
INSERT [dbo].[UserGroupModule] ([UserGroupModuleKey], [UserGroupKey], [CompanyKey], [ModuleKey]) VALUES (N'f75b5879-40c5-429e-a4a2-06b7cd42ca21', N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'906017b5-f9fc-4904-8899-8aece544518c', N'ce9e199b-568d-434d-ba41-5e9a93c5c4e4')
GO
INSERT [dbo].[UserGroupModule] ([UserGroupModuleKey], [UserGroupKey], [CompanyKey], [ModuleKey]) VALUES (N'c6ca5747-65d4-4dce-9166-06db2188eb1f', N'df2ac1bb-fffb-4d75-b168-02aefd08185c', N'906017b5-f9fc-4904-8899-8aece544518c', N'875a441b-1d10-4001-beba-968aeae14f48')
GO
INSERT [dbo].[UserGroupModule] ([UserGroupModuleKey], [UserGroupKey], [CompanyKey], [ModuleKey]) VALUES (N'78ec17b1-c9a7-4b46-a57f-0e2b4d429308', N'df2ac1bb-fffb-4d75-b168-02aefd08185c', N'906017b5-f9fc-4904-8899-8aece544518c', N'ce9e199b-568d-434d-ba41-5e9a93c5c4e4')
GO
ALTER TABLE [dbo].[CompanyForm]  WITH CHECK ADD  CONSTRAINT [FK_CompanyForm_Company] FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
ALTER TABLE [dbo].[CompanyForm] CHECK CONSTRAINT [FK_CompanyForm_Company]
GO
ALTER TABLE [dbo].[CompanyForm]  WITH CHECK ADD  CONSTRAINT [FK_CompanyForm_Forms] FOREIGN KEY([FormKey])
REFERENCES [dbo].[Forms] ([FormID])
GO
ALTER TABLE [dbo].[CompanyForm] CHECK CONSTRAINT [FK_CompanyForm_Forms]
GO
ALTER TABLE [dbo].[CompanyForm]  WITH CHECK ADD  CONSTRAINT [FK_CompanyForm_Modules] FOREIGN KEY([ModuleKey])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[CompanyForm] CHECK CONSTRAINT [FK_CompanyForm_Modules]
GO
ALTER TABLE [dbo].[CompanyModule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyModule_Company] FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
ALTER TABLE [dbo].[CompanyModule] CHECK CONSTRAINT [FK_CompanyModule_Company]
GO
ALTER TABLE [dbo].[CompanyModule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyModule_Modules] FOREIGN KEY([ModuleKey])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[CompanyModule] CHECK CONSTRAINT [FK_CompanyModule_Modules]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Modules] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Modules]
GO
ALTER TABLE [dbo].[StaffList]  WITH CHECK ADD  CONSTRAINT [FK_StaffList_Usergroup] FOREIGN KEY([Usergr])
REFERENCES [dbo].[Usergroup] ([UserGroupKey])
GO
ALTER TABLE [dbo].[StaffList] CHECK CONSTRAINT [FK_StaffList_Usergroup]
GO
ALTER TABLE [dbo].[Usergroup]  WITH CHECK ADD  CONSTRAINT [FK_Usergroup_Company] FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
ALTER TABLE [dbo].[Usergroup] CHECK CONSTRAINT [FK_Usergroup_Company]
GO
ALTER TABLE [dbo].[UserGroupForm]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupForm_Forms] FOREIGN KEY([FormKey])
REFERENCES [dbo].[Forms] ([FormID])
GO
ALTER TABLE [dbo].[UserGroupForm] CHECK CONSTRAINT [FK_UserGroupForm_Forms]
GO
ALTER TABLE [dbo].[UserGroupForm]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupForm_Modules] FOREIGN KEY([ModuleKey])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[UserGroupForm] CHECK CONSTRAINT [FK_UserGroupForm_Modules]
GO
ALTER TABLE [dbo].[UserGroupForm]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupForm_Usergroup] FOREIGN KEY([UserGroupKey])
REFERENCES [dbo].[Usergroup] ([UserGroupKey])
GO
ALTER TABLE [dbo].[UserGroupForm] CHECK CONSTRAINT [FK_UserGroupForm_Usergroup]
GO
ALTER TABLE [dbo].[UserGroupModule]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupModule_Modules] FOREIGN KEY([ModuleKey])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[UserGroupModule] CHECK CONSTRAINT [FK_UserGroupModule_Modules]
GO
ALTER TABLE [dbo].[UserGroupModule]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupModule_Usergroup] FOREIGN KEY([UserGroupKey])
REFERENCES [dbo].[Usergroup] ([UserGroupKey])
GO
ALTER TABLE [dbo].[UserGroupModule] CHECK CONSTRAINT [FK_UserGroupModule_Usergroup]
GO
USE [master]
GO
